interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/exchanges/JSE?fmt=json
  response:
    body: {string: '[{"Code":"ABSP","Name":"Absa Bank Limited","Country":"South Africa","Exchange":"JSE","Currency":"ZAR"},{"Code":"ACE","Name":"Accentuate
        Limited","Country":"South Africa","Exchange":"JSE","Currency":"ZAR"},{"Code":"ACG","Name":"Anchor
        Group Limited","Country":"South Africa","Exchange":"JSE","Currency":"ZAR"},{"Code":"ACL","Name":"ArcelorMittal
        South Africa Ltd","Country":"South Africa","Exchange":"JSE","Currency":"ZAR"},{"Code":"ACS","Name":"Acsion
        Limited","Country":"South Africa","Exchange":"JSE","Currency":"ZAR"},{"Code":"ACT","Name":"AfroCentric
        I[...]
