interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/real-time/AAPL.US?fmt=json&s=US.PLKT%2CJSE.WHL
  response:
    body: {string: '[{"code":"AAPL.US","timestamp":1527271826,"gmtoffset":0,"open":188.27,"high":189.65,"low":187.65,"close":188.83,"volume":11644133,"previousClose":188.15,"change":0.68},{"code":"US.PLKT","timestamp":"NA","gmtoffset":"NA","open":"NA","high":"NA","low":"NA","close":"NA","volume":"NA","previousClose":"NA","change":"NA"},{"code":"JSE.WHL","timestamp":"NA","gmtoffset":"NA","open":"NA","high":"NA","low":"NA","close":"NA","volume":"NA","previousClose":"NA","change":"NA"}]'}
    headers:
      Content-Type: [application/json]
      X-RateLimit-Limit: ['360']
      X-RateLimit-Remaining: ['359']
    status: {code: 200, message: OK}
version: 1
