interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/real-time/AAPL.US?fmt=json&s=US.ABT%2CUS.ACCO%2CUS.AEF%2CUS.PLKT%2CLSE.BBY%2CLSE.BGS%2CLSE.BLV%2CLSE.CASH%2CLSE.CLP%2CTO.BB%2CV.ATI%2CBE.AMT%2CHM.COK%2CXETRA.BAS
  response:
    body: {string: '[{"code":"AAPL.US","timestamp":1527271826,"gmtoffset":0,"open":188.27,"high":189.65,"low":187.65,"close":188.83,"volume":11648929,"previousClose":188.15,"change":0.68},{"code":"US.ABT","timestamp":"NA","gmtoffset":"NA","open":"NA","high":"NA","low":"NA","close":"NA","volume":"NA","previousClose":"NA","change":"NA"},{"code":"US.ACCO","timestamp":"NA","gmtoffset":"NA","open":"NA","high":"NA","low":"NA","close":"NA","volume":"NA","previousClose":"NA","change":"NA"},{"code":"US.AEF","timestamp":"NA","gmtoffset":"NA","open":"NA","high":"NA","low":"NA","close":"NA","volume":"NA","previousClose":"NA","change":"NA"},{"code":"US.PLKT","timestamp":"NA","gmtoffset"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/real-time/ALE.DU?fmt=json&s=MU.CCL%2CSTU.CVA%2CF.8BI%2CVI.PAL%2CMI.BO%2CPA.ATO%2CBR.FP%2CMC.LLN%2CAS.KA%2CVX.ROG%2CLS.GPA%2CSW.GE%2CST.CE%2COL.SPU
  response:
    body: {string: '[{"code":"ALE.DU","timestamp":1527260776,"gmtoffset":0,"open":20.34,"high":20.48,"low":20.3,"close":20.46,"volume":220,"previousClose":20.21,"change":0.25},{"code":"MU.CCL","timestamp":"NA","gmtoffset":"NA","open":"NA","hig[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/real-time/DANT.CO?fmt=json&s=HE.AM1%2CJSE.WHL
  response:
    body: {string: '[{"code":"DANT.CO","timestamp":1527252880,"gmtoffset":0,"open":300,"high":300,"low":300,"close":300,"volume":160,"previousClose":296,"change":4},{"code":"HE.AM1","timestamp":"NA","gmtoffset":"NA","open":"NA","high":"NA","low":"NA","close":"NA","volume":"NA","previousClose":"NA","change":"NA"},{"code":"JSE.WHL","timestamp":"NA","gmtoffset":"NA","open":"NA","high":"NA","low":"NA","close":"NA","volume":"NA","previousClose":"NA","change":"NA"}]'}
    headers:
      Content-Type: [application/json]
      X-RateLimit-Limit: ['360']
      X-RateLimit-Remaining: ['355']
    status: {code: 200, message: OK}
version: 1
