interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/real-time/AAPL.US?fmt=json
  response:
    body: {string: '{"code":"AAPL.US","timestamp":1527278400,"gmtoffset":0,"open":188.27,"high":"NA","low":"NA","close":188.58,"volume":17226115,"previousClose":188.15,"change":0.43}'}
    headers:
      Content-Type: [application/json]
      X-RateLimit-Limit: ['360']
      X-RateLimit-Remaining: ['358']
    status: {code: 200, message: OK}
version: 1
