interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/real-time/AAPL.US?fmt=json&s=PLKT.US%2CWHL.JSE
  response:
    body: {string: '[{"code":"AAPL.US","timestamp":1527278400,"gmtoffset":0,"open":188.27,"high":"NA","low":"NA","close":188.58,"volume":17226115,"previousClose":188.15,"change":0.43},{"code":"PLKT.US","timestamp":1525369867,"gmtoffset":0,"open":0,"high":0,"low":0,"close":0.018,"volume":0,"previousClose":0.018,"change":0},{"code":"WHL.JSE","timestamp":1527260764,"gmtoffset":0,"open":5850,"high":6115,"low":5850,"close":6090,"volume":3130907,"previousClose":60.9,"change":6029.1}]'}
    headers:
      Content-Type: [application/json]
      X-RateLimit-Limit: ['360']
      X-RateLimit-Remaining: ['359']
    status: {code: 200, message: OK}
version: 1
