interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/real-time/AAPL.US?fmt=json&s=ABT.US%2CACCO.US%2CAEF.US%2CPLKT.US%2CBBY.LSE%2CBGS.LSE%2CBLV.LSE%2CCASH.LSE%2CCLP.LSE%2CBB.TO%2CATI.V%2CAMT.BE%2CCOK.HM%2CBAS.XETRA
  response:
    body: {string: '[{"code":"AAPL.US","timestamp":1527278400,"gmtoffset":0,"open":188.27,"high":"NA","low":"NA","close":188.58,"volume":17226115,"previousClose":188.15,"change":0.43},{"code":"ABT.US","timestamp":1527278434,"gmtoffset":0,"open":62.41,"high":62.58,"low":62.06,"close":62.37,"volume":3839066,"previousClose":62.51,"change":-0.14},{"code":"ACCO.US","timestamp":1527278521,"gmtoffset":0,"open":12.9,"high":"NA","low":"NA","close":12.9,"volume":370753,"previousClose":12.9,"change":0},{"code":"AEF.US","timestamp":1527278361,"gmtoffset":0,"open":8.59,"high":8.68,"low":8.57,"close":8.65,"volume":89305,"previousClose":8.65,"change":0},{"code":"PLKT.US","timestamp":1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/real-time/ALE.DU?fmt=json&s=CCL.MU%2CCVA.STU%2C8BI.F%2CPAL.VI%2CBO.MI%2CATO.PA%2CFP.BR%2CLLN.MC%2CKA.AS%2CROG.VX%2CGPA.LS%2CGE.SW%2CCE.ST%2CSPU.OL
  response:
    body: {string: '[{"code":"ALE.DU","timestamp":1524637061,"gmtoffset":0,"open":19.18,"high":19.18,"low":19.18,"close":19.18,"volume":220,"previousClose":20.46,"change":-1.28},{"code":"CCL.MU","timestamp":1527228330,"gmtoffset":0,"open":5.51[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/real-time/DANT.CO?fmt=json&s=AM1.HE%2CWHL.JSE
  response:
    body: {string: '[{"code":"DANT.CO","timestamp":1527252880,"gmtoffset":0,"open":300,"high":300,"low":300,"close":300,"volume":160,"previousClose":300,"change":0},{"code":"AM1.HE","timestamp":1527262170,"gmtoffset":0,"open":16.92,"high":16.92,"low":16.26,"close":16.36,"volume":25039,"previousClose":16.36,"change":0},{"code":"WHL.JSE","timestamp":1527260764,"gmtoffset":0,"open":5850,"high":6115,"low":5850,"close":6090,"volume":3130907,"previousClose":60.9,"change":6029.1}]'}
    headers:
      Content-Type: [application/json]
      X-RateLimit-Limit: ['360']
      X-RateLimit-Remaining: ['355']
    status: {code: 200, message: OK}
version: 1
